@use "../colors" as *;

.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;

  &.btn-default {
    background-color: $primary;
    color: $surface;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primary-hover;
      box-shadow: 0 4px 12px $bluish-shadow;
    }
  }

  &.btn-outline {
    background-color: transparent;
    border: 1px solid $border;
    color: $text-muted;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $shadow;
    }
  }

  &.btn-link,
  &.btn-back {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: $primary;
    display: flex;
  }

  &.btn-success {
    background-color: $green;
    color: $surface;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $green-hover;
      box-shadow: 0 4px 12px $greenish-shadow;
    }
  }

  &.btn-warning {
    background-color: $yellow;
    color: $surface;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $yellow-hover;
      box-shadow: 0 4px 12px $yellowish-shadow;
    }
  }

  &.btn-danger {
    background-color: $red;
    color: $surface;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $red-hover;
      box-shadow: 0 4px 12px $redish-shadow;
    }
  }

  &.btn-filter {
    background-color: $primary;
    color: $surface;
    padding: 8px 12px;
    font-size: 13px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primary-hover;
      box-shadow: 0 4px 12px $bluish-shadow;
    }
  }

  &.btn-compact {
    span {
      display: none;
    }

    @media (min-width: 768px) {
      span {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    &.btn-default,
    &.btn-outline,
    &.btn-success,
    &.btn-warning,
    &.btn-danger,
    &.btn-compact {
      span {
        display: block;
      }
    }
  }
}

// for laptop devices
@media only screen and (min-width: 1024px) {
  .btn {
    &.btn-link,
    &.btn-back {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $primary;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
