@use "../colors.scss" as *;

.table-container {
  flex: 1;
  min-height: 0;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 12px;
  box-shadow: 0 4px 12px $shadow;
  overflow-y: auto;
  scrollbar-width: thin;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $background;

      th {
        padding: 1rem;
        text-align: left;
        font-size: 0.875rem;
        font-weight: 600;
        color: $text;
        border-bottom: 1px solid $border;
      }
    }

    tbody {
      tr {
        transition: background-color 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: $primary-outline;
        }

        &:not(:last-child) {
          td {
            border-bottom: 1px solid $border;
          }
        }
      }

      td {
        padding: 1rem;
        color: $text-muted;
        font-size: 0.875rem;

        &.badge-cell {
          padding: 0.5rem;
        }

        p {
          width: fit-content;
          display: inline-flex;
          align-items: center;
          gap: 0.4rem;
          padding: 0.4rem 0.85rem;
          border-radius: 999px;
          font-size: 0.85rem;
          font-weight: 600;

          &.income {
            background-color: $greenish-shadow;
            color: $green;
          }

          &.expense {
            background-color: $redish-shadow;
            color: $red;
          }
        }
      }
    }
  }
}
