@use "../colors" as *;

.dashboard-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .metrics {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .charts-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .line-chart-wrapper,
      .bar-chart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 12px;
        background-color: $surface;
        box-shadow: 0 4px 12px $shadow;
      }
    }
  }
}

// for laptop devices
@media only screen and (min-width: 1024px) {
  .dashboard-section {
    height: 100%;

    .dashboard-wrapper {
      flex: 1;

      .metrics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .charts-wrapper {
        flex-direction: row;

        .line-chart-wrapper {
          &.superAdmin {
            width: 100%;
          }

          &.user {
            width: 60%;
          }
        }

        .bar-chart-wrapper {
          width: 40%;
        }
      }

      .recent-transactions-wrapper {
        max-height: 26vh;
      }
    }
  }
}
