@use "../colors" as *;

.recent-transactions {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 12px;
  background-color: $surface;
  box-shadow: 0 4px 12px $shadow;

  label {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text;
    margin-bottom: 0.25rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: auto;
    scrollbar-width: thin;

    .row {
      display: flex;
      align-items: center;
      gap: 0.875rem;
      padding: 0.6rem 1rem;
      border-radius: 10px;
      background: $background;
      transition: all 0.2s ease;

      &:hover {
        border-color: $primary;
        background: $primary-outline;
        transform: translateY(-1px);
      }

      .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 0 4px $primary-outline;

        &.create {
          background: $green;
        }

        &.delete {
          background: $red;
        }

        &.update {
          background: $yellow;
        }

        &.info {
          background: $primary;
        }
      }

      .content {
        flex: 1;
        width: 0;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .action {
          color: $text;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .date {
          color: $text-muted;
          font-size: 0.75rem;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .recent-transactions {
    height: 26vh;
    overflow: hidden;

    .list {
      .row {
        padding: 0.9rem 1rem;
        gap: 1rem;

        .content {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 10rem;

          .action {
            flex: 1;
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
