$primary: #279af1; // Buttons, active nav, links
$primary-hover: #1788de;
$primary-outline: #279af110;
$secondary: #c49991; // Highlights, badges, charts

$text: #131112; // Main text
$text-muted: #60656f; // Secondary text

$background: #f7f7ff; // App background
$surface: #ffffff; // Cards, header, footer

$border: #d9d9e3; // Subtle borders

$shadow: #13111214;
$bluish-shadow: #279af140;
