$primary: #279af1; // Buttons, active nav, links
// $primary: #2563eb; // Buttons, active nav, links
$primary-hover: #1d4ed8;
$primary-outline: #279af110;
$secondary: #c49991; // Highlights, badges, charts

$text: #131112; // Main text
$text-muted: #60656f; // Secondary text

$background: #f7f7ff; // App background
$surface: #ffffff; // Cards, header, footer

$border: #d9d9e3; // Subtle borders
$shadow: #13111214;

$red: #e11d48;
$red-text: #b91c1c;
$red-hover: #be123c;
$redish-shadow: #e11d4840;

$green: #15803d;
$green-text: #14532d;
$green-hover: #166534;
$greenish-shadow: #16a34a40;

$blue: #2563eb;
$blue-text: #1e40af;
$blue-hover: #dbeafe;
$bluish-shadow: #279af140;

$yellow: #dea908;
$yellow-hover: #ca8a04;
$yellowish-shadow: #f59e0b40;
$yellow-text: #a16207;

$purple: #7c3aed;
$purple-hover: #f3e8ff;

$modal-overlay: rgba(19, 17, 18, 0.55);
