$primary: #279af1; // Buttons, active nav, links
$primary-hover: #1788de;
$primary-outline: #279af110;
$secondary: #c49991; // Highlights, badges, charts

$text: #131112; // Main text
$text-muted: #60656f; // Secondary text

$background: #f7f7ff; // App background
$surface: #ffffff; // Cards, header, footer

$border: #d9d9e3; // Subtle borders
$shadow: #13111214;

$red: #e11d48;
$red-hover: #be123c;
$redish-shadow: #e11d4840;

$green: #22c55e;
$green-hover: #16a34a;
$greenish-shadow: #16a34a40;

$bluish-shadow: #279af140;

$yellow: #fbbf24;
$yellow-hover: #f59e0b;
$yellowish-shadow: #f59e0b40;

$modal-overlay: rgba(19, 17, 18, 0.55);
