@use "./colors" as *;

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .input-wrapper {
    display: flex;
    padding: 10px 16px;
    border: 1px solid $border;
    border-radius: 6px;
    background-color: $surface;
    color: $text;
    font-size: 14px;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    .icon {
      color: $text-muted;
    }

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: 0 0 0 3px $bluish-shadow;
    }

    input {
      all: unset;
      width: 100%;
      text-align: initial;
      padding-left: 0.5rem;

      // NOTE: remove weird heighlight when selecting suggested value
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        -webkit-text-fill-color: #000;
      }

      // NOTE: remove browser default password visibility toggler in MS Edge
      &::-ms-reveal {
        display: none;
      }
    }

    label {
      font-size: 0.875rem;
      font-weight: 600;
      color: $text;
    }

    button {
      all: unset;
      display: flex;
      align-items: center;
      color: $text-muted;
      cursor: pointer;
    }
  }
}

// for tablet devices
@media only screen and (min-width: 768px) {
  .input-group {
    .input-wrapper {
      font-size: 1rem;
    }
  }
}
